<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Functies</h1>

<h3>Strings</h3>

**Functies kunnen worden aangeroepen zonder argument**

In [1]:
def printExampleString():
    print("Because of Mercury's elliptical – egg-shaped – orbit, and sluggish rotation, the Sun appears to rise briefly, set, and rise again from some parts of the planet's surface. The same thing happens in reverse at sunset.")
    
printExampleString()

Because of Mercury's elliptical – egg-shaped – orbit, and sluggish rotation, the Sun appears to rise briefly, set, and rise again from some parts of the planet's surface. The same thing happens in reverse at sunset.

**Gebruik een <i>docstring</i> om een String over meerdere regels te verdelen**

In [2]:
def showDocString():
    """
    De docstring is een beschrijving van een functie, die bedoeld is voor de programmeur. 
    De Python interpreter negeert deze String
    """

print(showDocString.__doc__)

    De docstring is een beschrijving van een functie, die bedoeld is voor de programmeur.
    De Python interpreter negeert deze String

<h3>Numbers</h3>

**Functies kunnen worden aangeroepen met een variabele als argument**

In [3]:
def milesToKilometers(distance):
    return round(distance * 1.609344, 2)

distanceInMiles = 11        
print( f"The meteoroid entered the atmosphere at over {int(milesToKilometers(distanceInMiles)*3600)} kilometers per hour." )

The meteoroid entered the atmosphere at over 63720 kilometers per hour.

In [4]:
def milesToKilometers(distance):
    km = round(distance * 1.609344, 2)
    return(km)
miles = 11

**Het argument van een functie kan <i>optioneel</i> worden gemaakt met een <i>default</i> waarde**

In [5]:
def milesToKilometers(distance=1):
    return distance * 1.609344

print(f"A mile is longer than a kilometer and is equivalent to approximately { round(milesToKilometers(),1) } kilometers")

A mile is longer than a kilometer and is equivalent to approximately 1.6 kilometers

<h3>Exercise 7</h3>
<p>Schrijf een functie voor het omzetten van een gewicht in <i>pounds</i> naar een <u>geheel aantal</u> <i>kilo's</i></p>

In [6]:
def poundsToKilos(weight):
    return round(weight * 0.453592, 2)
weightinPounds = 12
print(f"The equivalent weight in kilo's is {int(poundsToKilos(weightinPounds))} ")

The equivalent weight in kilo's is 5

<h3>Booleans</h3>

Volgens de eerste stelling van DeMorgan kun is de expressie <strong>not (p and q</strong>) <u>equivalent</u> aan <strong>(not p) or (not q)</strong>

In [7]:
def deMorgan1(p, q):
    return (not p) or (not q)

**Gebruik een waarheidstabel voor beschrijven van logische functies**

In [8]:
logTable = [f"p\tq\tnot(p and q)\t\033[1mdeMorgan1(p, q)\033[0m"]
for p in [False, True]:
    for q in [False, True]:
        logTable.append(f"{p}\t{q}\t{ not (p and q) }\t\t\t{deMorgan1(p,q)}")

print("\n".join(logTable))

p	q	not(p and q)	deMorgan1(p, q)
False	False	True			True
False	True	True			True
True	False	True			True
True	True	False			False

Volgens de tweede stelling van DeMorgan kun is de expressie <strong>not (p or q</strong>) <u>equivalent</u> aan <strong>(not p) and (not q)</strong>

<h3>Exercise 8</h3>
<p>Implementeer de tweede stelling van DeMorgan in een functie <u>bothFalse</u> en toon m.b.v. een waarheidstabel de juiste werking van de functie aan.
</p>

In [9]:
def deMorgans2(p, q):
    return not(p or q)
logtable1 = [f"p\ttq\t(not(p) and not(q))\tdeMorgans2(p,q)"]
for p in [False, True]:
    for q in [False, True]:
        logtable1.append(f"{p}\t{q}\t{not(p) and not(q)}\t\t\t{deMorgans2(p,q)}")
print("\n".join(logtable1))

p	tq	(not(p) and not(q))	deMorgans2(p,q)
False	False	True			True
False	True	False			False
True	False	False			False
True	True	False			False

<h3>Lists</h3>

In [10]:
digits = list( range(0,100,3) )
print(f"The lowest value of digits is { min(digits) } and { max(digits) } is the highest value")

The lowest value of digits is 0 and 99 is the highest value

In [11]:
sum(digits)

1683

<h3>Exercise 9</h3>
<p>
    Schrijf een functie <i>averageOfDigits</i> die het <u>gemiddelde</u> van een lijst <u>gehele getallen</u> berekent en teruggeeft als <u>geheel getal</u>
    <br>Retourneer <u>0</u> in geval de lijst <u>leeg</u> is
</p>

In [12]:
def avg(num):
    if (num) ==[]:
        return 0
    sum = 0
    for i in num:
        sum = sum + i
    avg = sum / len(num)
    return avg

print("The average is", avg([1,5]))

The average is 3.0

In [13]:

def count_vowels(str):
    
    counter = 0
    list = ('a','e','i','o','u')
    
    for char in str:
        if char in list:
            counter +=1
    return counter
    
#vowels=count_vowels("helloooo world")
print("the count is",count_vowels("hello world"))

the count is 3

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n*factorial(n-1)
print("the factorial is", factorial(9))

the factorial is 362880

In [15]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return (fibonacci(n-1) + fibonacci(n-2))
        
for i in range(10):
    print("the series is",fibonacci(i))

the series is 0
the series is 1
the series is 1
the series is 2
the series is 3
the series is 5
the series is 8
the series is 13
the series is 21
the series is 34