In [2]:
import requests
import pandas as pd

In [3]:

df=pd.read_csv('https://mc-randstad.netlify.app/data.csv',sep=';')

In [4]:
display(df)

     genetic length   mass exercise  smoking alcohol sugar  lifespan
0       73.9    185   99.7      0.9      0.0     2.4   6.9      73.1
1       86.0    172  105.4      1.8      8.1     0.4   4.2      85.0
2       83.3    176  111.4      1.1      0.8     4.6   7.5      81.6
3       82.8    164  111.4      4.7     11.8     1.0   2.9      81.0
4       78.7    178   71.6      1.5      8.3     4.9   5.5      75.0
...      ...    ...    ...      ...      ...     ...   ...       ...
4091    80.3    176  115.9      3.7      0.1     5.6   5.8      80.7
4092    75.3    162  129.6      3.6      6.2     5.6   7.6      71.1
4093    93.1    189  115.3      2.7      9.4     4.9   6.6      90.0
4094    77.9    170   90.8      2.3     13.2     0.8   6.2      75.9
4095   101.3    188  129.2      1.2      8.2     6.0   6.2      96.9

[4096 rows x 8 columns]

In [5]:
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IQR = Q3 - Q1
print(Q1)
print(Q3)
print(IQR)

df =df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR))).any(axis=1)]
display(df)

smoking      3.3
lifespan    75.0
Name: 0.25, dtype: float64
smoking     15.9
lifespan    85.2
Name: 0.75, dtype: float64
smoking     12.6
lifespan    10.2
dtype: float64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19792\388452502.py:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1=df.quantile(0.25)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19792\388452502.py:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3=df.quantile(0.75)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_19792\388452502.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df =df[~((df<(Q1-1.5*IQR)) | (df>(Q3+1.5*IQR))).any(axis=1)]

In [6]:
#from io import StringIO
#request = requests.get(host + endpoint + key, params={'format':'csv'})
#df = pd.read_csv(StringIO(request.text), sep=',')

In [7]:
#df = df.rename{columns= ('lifespan':'lifeexpectancy')}